<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.2-pre01" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="xamarinios10" />
  <package id="XLabs.Core" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.Platform" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization" version="2.3.0-pre05" targetFramework="xamarinios10" />
</packages>